.button {
  width: 100%;
  background: none;
  border: none;

  font-size: 20px;
  color: #d8ebe4;

  cursor: pointer;
  outline: none;
}

.button:hover {
  opacity: 0.9;
}

.button:disabled {
  color: gray;
  cursor: not-allowed;
}